@tailwind base;
@tailwind components;
@tailwind utilities;

    * {
    margin: 0;
    padding: 0;
    }
    body {
    background-color: #001133;
    color: #f0f0f0;
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    
}
    @layer base {
    .navlist {
        @apply hover:text-[#00BFFF] py-5 px-4 hover:border-b-[2px] hover:border-[#00BFFF] text-base;
    }
    .foot {
        @apply hover:text-[#00BFFF]  px-4  text-base;
    }
    }
    @layer components {
    .btn {
        @apply w-[250px] h-[50px] bg-[#FF4F5B] text-white rounded-lg text-xl font-semibold hover:bg-[hsl(355,35%,20%)];
    }

    .lang-span {
        @apply  w-[80px];
    }
    input[type='search']::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
    }

    input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
    }
    }

    @layer utilities {
    .card {
        @apply relative w-[320px] h-[450px] rounded-[20px] shadow-[0_15px_35px_rgba(0,0,0,0.25)] overflow-hidden;
    }
    }

    .card .poster {
    position: relative;
    overflow: hidden;
    }

    .card .poster::before {
    content: "";
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #2c3e50 40%, transparent);
    transition: 0.5s;
    z-index: 1;
    }
    .card:hover .poster::before {
    bottom: 0;
    }
    .card-img {
    transition: 0.5s;
    }
    .card:hover .card-img {
    transform: translateY(-50px);
    filter: blur(5px);
    }
    .details {
    position: absolute;
    bottom: -123px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    }
    .card:hover .details {
    bottom: 0px;
    }
    .card-list li {
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    }
    .card-list li Image {
    max-width: 100%;
    }

    .card:hover .epilogue {
    white-space: normal;
    overflow: visible;
    }

    .epilogue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    }

    /* Swiper */
    .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
    }
    